{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "configBasedir": "./",
  "ignoreFiles": [
    "client/src/assets/styles/_animations.scss",
    "client/src/assets/styles/normalize/normalize.scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "no-descending-specificity": null
  }
}
