.btn {
  cursor: pointer;
  padding: $f13 $f26;
  position: relative;
  border: transparent;
  border-radius: 3em;
  text-align: center;
  margin: $f16 0;
  color: white !important;
  outline: none;
  background: linear-gradient(0.4turn, $list-item-atom-space-color-left, $list-item-atom-space-color-right);
  font-size: $f16;
  font-weight: 500;
  text-transform: uppercase;

  a {
    font-size: 12pt;
    color: $white-color;
  }

  &.btn-support {
    display: inline-flex;
  }

  &.btn-donate {
    transition: all 1s;
    display: inline-block;
    z-index: 10;

    &::before {
      content: ' ';
      opacity: 0.3;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 1s;
      border-radius: 3em;
      z-index: -10;
      background: linear-gradient(0.4turn, $list-item-atom-space-color-left, $list-item-atom-space-color-right);
      top: 0;
      right: $f26;
    }

    &::after {
      content: ' ';
      opacity: 0.3;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 1s;
      border-radius: 3em;
      z-index: -10;
      left: $f26;
      background: linear-gradient(0.4turn, $list-item-atom-space-color-left, $list-item-atom-space-color-right);
      top: 0;
    }

    &:hover {
      transform: scale(1.1);

      &::before {
        transform: translateX($f26);
      }

      &::after {
        transform: translateX(-$f26);
      }
    }
  }

  &.btn-request {
    transition: all 1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.6;
  }

  &.disabled {
    opacity: 0.6;
  }
}

.donate-block {
  position: relative;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.loader-icon {
  height: 16px;
  width: 40px;
}

.atom-toggle {
  $color-off: #a9126f;
  $color-on: #491465;

  &__hide {
    display: none;
  }

  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .label-text {
    margin-left: 8px;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: $color-on;
    overflow: hidden;
  }

  .toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
  }

  .active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background: $color-off;
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  .toggle-state:checked ~ .active-bg {
    transform: translate3d(-50%, 0, 0);
  }

  .toggle-state:checked ~ .toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
  }
}

.language-btn-container {
  position: fixed;
  right: $f110 + $f21;
  top: 95vh;
  z-index: 1050;
  width: 40px;
  .language-btn {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .language-btn-container {
    top: 5%;
    left: 8%;
    right: 0;
    width: $f178;
    &.none {
      display: none;
    }
    .language-btn {
      img {
        width: 100%;
      }
    }
  }
}
