html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: OpenSans-Regular, sans-serif;
  background-image: url(#{$path-to-images}/backgrounds/background-fixed.svg);
  background-position: center;
  background-size: 80% auto;
  background-repeat: no-repeat;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  font-size: $link-font-size;

  &:hover {
    color: initial;
  }

  &:active {
    color: black;
  }
}

.fullpage-wrapper {
}

.fullpage-wrapper {}
