.navigation {
  position: absolute;
  z-index: 1010;
  width: 100%;
  &.hide {
    display: none;
  }
}

.atom-logo {
  position: relative;
  left: -$f26;
  width: $f233;
  margin-bottom: $h42;
  display: block;
  background-size: $f178;
  background-position: center center;
  background-repeat: no-repeat;
}

.atomspace-link {
  color: white;
  transition: all 0.5s;

  &:hover {
    color: #e4e4e4;
  }
}

.nav_toggle,
.nav_toggle.cross {
  width: $f178;
  height: $f144;
  position: fixed;
  right: 7%;
  top: 4%;
  z-index: 1000;
}

.nav_toggle {
  background: url(#{$path-to-images}/icons/gamburgers/gamburger-main-light.svg)
    center/auto no-repeat;

  &.arrow {
    background: url(#{$path-to-images}/icons/gamburgers/gamburger-back.svg)
      center/contain no-repeat;
  }

  &.light_arrow {
    background: url(#{$path-to-images}/icons/gamburgers/gamburger-back-light.svg)
      center/contain no-repeat;
  }
}

li {
  display: inline-block;
  list-style: none;
  border: 1px solid $black-color;
  padding: $f13;
  border-radius: $f55;
}

.list-item {
  border: transparent;
  background: transparent;
  border-radius: 3em;
  text-align: center;
  line-height: $f16;
  padding: $f8 $f10;
  margin: $f3 0;
  font-size: $f13;
  transition: all 0.3s;
  color: $white-color-opacity;

  &.form {
    &::after {
      content: '';
      opacity: 0;
    }

    &::before {
      content: '';
      opacity: 0;
    }
  }

  &:hover {
    color: $white-color;
  }

  &.selected {
    color: $white-color;
  }

  &.form:hover {
    z-index: 10;
    opacity: 1;

    &::after {
      content: ' ';
      opacity: 0.3;
      cursor: pointer;
      position: absolute;
      width: 110%;
      right: 0;
      // transform: scale(1.1);
      height: 100%;
      transition: all 0.3s;
      border-radius: 3em;
      z-index: -10;
      background: linear-gradient(
        0.4turn,
        $list-item-atom-space-color-left,
        $list-item-atom-space-color-right
      );
      top: 0;
    }

    &::before {
      content: ' ';
      opacity: 0.3;
      cursor: pointer;
      position: absolute;
      // transform: scale(1.1);
      width: 110%;
      left: 0;
      height: 100%;
      transition: all 0.3s;
      border-radius: 3em;
      z-index: -10;
      background: linear-gradient(
        0.4turn,
        $list-item-atom-space-color-left,
        $list-item-atom-space-color-right
      );
      top: 0;
    }
  }
}

.vertical-line {
  position: fixed;
  height: $h610 + $h610;
  display: flex;
  align-items: center;
  border: 0;
  animation: fadeInFromNone 0.5s ease-out;

  &.left {
    left: $f110 + $f21;
    border-left: 1px solid $vertical-line-color;
    bottom: 0;
    text-align: left;
  }

  &.right {
    right: $f110 + $f21;
    border-right: 1px solid $vertical-line-color;
  }

  &.border-none {
    border: 0;
  }

  .light_theme {
    .list-item {
      color: $black-color-opacity;

      &:hover {
        color: $black-color;
      }
    }
  }

  .sidebar {
    &__left {
      .dot {
        width: 14px;
        height: 14px;
        position: relative;
        left: 7px;
        background: url(#{$path-to-images}/icons/circle.svg) no-repeat
          center/contain;
      }

      .list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        > div {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;
          left: -14px;
        }

        .list-item {
          opacity: $text-opacity;
          text-align: left;
          position: relative;
          left: $f16;
        }
      }
    }

    &__right {
      .list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        .dot {
          opacity: 0;
          width: 14px;
          height: 14px;
          position: absolute;
          right: -7px;
          background: url(#{$path-to-images}/icons/circle.svg) no-repeat
            center/contain;
        }

        .list-item {
          opacity: $text-opacity;
          text-align: right;
          transition: all 1s;
          position: relative;
          right: $f16;
        }

        &.selected {
          .list-item {
            color: $white-color;
          }

          .dot {
            background: url(#{$path-to-images}/icons/circle-sidebar.svg)
              no-repeat center/contain;
            opacity: 1;
          }
        }

        &:hover .dot {
          opacity: 1;
        }

        &:last-child {
          bottom: -10vh;
          .list-item {
            font-size: $f13;
            font-family: OpenSans-Bold;
          }
        }
      }

      &.light_theme {
        .list {
          .dot {
            opacity: 0;
            width: 14px;
            height: 14px;
            position: absolute;
            background: url(#{$path-to-images}/icons/circle-dark.svg) no-repeat
              center/contain;
          }

          &.selected {
            .list-item {
              color: $black-color;
            }

            .dot {
              background: url(#{$path-to-images}/icons/circle-sidebar-light.svg)
                no-repeat center/contain;
              opacity: 1;
            }
          }

          &:hover .dot {
            opacity: 1;
          }

          &:hover:last-child .dot {
            opacity: 0;
          }
        }
      }
    }
  }
}

.small-nav {
  display: none;

  .nav-list {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(#{$path-to-images}/backgrounds/background-gamburger.svg)
      center/cover no-repeat;

    &.hide {
      display: none;
    }

    li {
      border: 0;
      margin-bottom: 20px;

      a {
        font-size: $f89;
        color: white;
      }
    }
  }
  .partner-block {
    top: 85%;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    .btn {
      padding: 2.677vw 11.354vw;
      font-size: 4.833vw;
      &:before,
      &:after {
        display: none;
      }
    }
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
