.about-container {
  // height: 100vh;
  // background: url("../images/backgrounds/2.png") no-repeat;
  .about-blocks{
    height: 100%;
    .about-maintext-block {
      position: relative;
      width: $f400 + $f68;
      line-height: $f34;
      &__atomspace{
        background: url(../images/icons/about_atom-space.svg) no-repeat;
        background-position: center;
        background-size: contain;
        height: $f34;
        width: 60%;
        position: absolute;
        left: -$f110;
      }
      &__text {
        font-size: $f18;
      }
    }
  }
}
