.blog-container {
  display: flex;
  justify-content: center;
  // height: 100vh;
  // background: url("../images/backgrounds/4.png") no-repeat;
  .blog-wrapper {
    width: $f610 + $f178 + $f34;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:$f400 + $f110;
    padding-left: $f233;
    padding-top: $f288;
    .blog-main-text {
      margin-bottom: 80px;
      text-align: center;
      font-size: $f16;
    }
    .blog-skill-blocks {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .blog-skill-item {
        > div {
          margin-bottom: $f16;
        }
        > div:last-child {
          margin: 0;
        }
        width: $f110 + $f89;
        margin-right: $f68;
        &__header {
          font-size: $f21;
          font-weight: bold;
        //   text-align: center;
        }
        &__description {
        //   text-align: center;
          font-size: $f13;          
        }
        @each $logo in mind, people, puzzle {
          &__#{$logo}-logo {
            background: url(../images/icons/#{$logo}-blog.png)
              no-repeat
              center/contain;
            height: $f178;
            width: $f178;
            // height: $f110;
            // width: $f110;
            margin-bottom: $f5;
            position: relative;
          }
        }
      }
      .blog-skill-item:last-child {
        margin: 0;
      }
    }
  }
}
