.family-container {
  .family-wrapper {
    .carousel-container {
      position: relative;
      .slick-slider {
        margin: 0 $f178;
        width: $f610;
        .slick-list {
          .slick-track {
            display: flex;
            align-items: center;
          }
        }
      }
      .carousel-info {
        position: absolute;
        top: $f110;
        left: $f610 + $f233;
        font-family: Lato-Regular, sans-serif;
        color: $white-color;
        &__photo {
          .photo-logo {
            margin: 0 auto;
            width: $f400 + $f110;
          }
        }
        &__header {
          margin-bottom: $f34;
          .info-header-name {
            width: $f377;
            opacity: 0.11;
            font-size: $f68;
            font-weight: 300;
          }
        }
        &__desc {
          text-transform: uppercase;
          font-size: $f21;
          width: 100%;
          .info-name {
            font-weight: 400;
            margin-bottom: $f8;
          }
          .info-position {
            font-weight: 300;
          }
        }
        &__soc {
          .soc-icons {
            margin-top: $f34;
          }
        }
      }
    }
  }
  .family-wrapper-bot{
    background: url(../images/backgrounds/background-family-bot.png) no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 1000;
  }
}

.slick {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  background-position: center;
  display: block;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background-image: url(../images/icons/arrow.png) !important;
  width: $f68;
  background-repeat: no-repeat;
  opacity: 0.7;
  &-prev {
    left: -$f110;
    transform: rotate(180deg);
    &:hover {
      background: url(../images/icons/arrow.png) no-repeat !important;
    }
  }
  &-next {
    right: -$f110;
    &:hover {
      background: url(../images/icons/arrow.png) no-repeat !important;
    }
  }
  &:before {
    content: "";
  }
  &:hover {
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center !important;
  }
}
