.about-container {
  background: url(#{$path-to-images}/backgrounds/background-about-top.svg);
  background-repeat: no-repeat;
  background-position: top;
  .about-blocks {
    height: 100%;
    .about-maintext-block {
      position: relative;
      width: $f400 + $f68;
      line-height: $f34;
      position: relative;
      width: $f400 + $f144;
      font-weight: 300;
      line-height: $f26;
      &__atomspace {
        background-position: center;
        background-size: contain;
        height: $f34;
        float: left;
        padding-right: 20px;
      }
      &__text {
        font-size: $f18;
        color: #1e1341;
        margin-bottom: $f21;
      }
    }
  }
}
