.about-container {
  background-image: url(#{$path-to-images}/backgrounds/background-about-top.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%;
  .about-blocks {
    height: 100%;
    .about-main-block {
      position: relative;
      width: $f400 + $f144;
      font-weight: 300;
      line-height: $f26;
      height: 52%;

      &-image {
        margin-bottom: 10px;
        &__atomspace {
          background-position: center;
          background-size: contain;
          height: $f34;
          padding-right: 20px;
          // margin-bottom: 10px;
        }
      }
      &-text {
        font-size: $f18;
        color: #1e1341;
        margin-bottom: $f21;
      }
    }
  }
}

// @media only screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1024px) and (max-height: 768px) {
//   .about-maintext-block__text:nth-child(2) {
//     font-size: 55px !important;
//     line-height: 55px !important;
//   }
//   .about-maintext-block__atomspace {
//     width: 270px !important;
//     height: 55px !important;
//   }
//   .about-maintext-block {
//     width: 78% !important;
//     height: 37% !important;
//     margin-top: 112px !important;
//   }
//   .bubble-image {
//     width: 800px !important;
//     height: 800px !important;
//   }
//   .bubble,
//   .interactive {
//     width: 800px !important;
//     height: 800px !important;
//   }
// }
