.about-container {
  background: url(#{$path-to-images}/backgrounds/background-about-top.svg) top/contain;
  background-repeat: no-repeat;
  background-size: 100%;
  .about-blocks {
    height: 100%;
    .about-maintext-block {
      position: relative;
      width: $f400 + $f144;
      font-weight: 300;
      line-height: $f26;
      height: 52%;
      &__atomspace {
        background-position: center;
        background-size: contain;
        height: $f34;
        float: left;
        padding-right: 20px;
      }
      &__text {
        font-size: $f18;
        color: #1e1341;
        margin-bottom: $f21;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .about-maintext-block__text:nth-child(2) {
    font-size: 2.635vw !important;
    line-height: 5.392vw !important;
  }
  .about-maintext-block__atomspace {
    width: 270px !important;
    height: 54.97px !important;
  }
  .about-maintext-block {
    width: 78% !important;
    height: 37% !important;
    margin-top: 112px !important;
  }
  .bubble-image {
    width: 40vw !important;
    height: 40vw !important;
  }
  .bubble, .interactive {
    width: 40vw !important;
    height: 40vw !important;
  }
}
