.blog-container {
  display: flex;
  justify-content: center;
  .main-text-mobile {
    display: none;
  }
  .blog-wrapper {
    width: $f610 + $f178 + $f34;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $f610 + $f610 + $f89;
    position: relative;
    margin-left: $f233;
    .blog-skill-blocks-mobile,
    .blog-skill-blocks {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-direction: row;
      .blog-skill-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: calc(50% - 40px);
        > div {
          margin-right: $f13;
        }
        &-information {
          width: 60%;

          &__header {
            font-family: OpenSans-SemiBold, sans-serif;
            font-size: $f26;
            line-height: $f34;
          }
          &__description {
            font-family: OpenSans-Light, sans-serif;
            font-weight: 300;
            font-size: $f18;
            line-height: $f26;
            width: $f377 - $f26;
          }
        }
        @each $logo in mind, team, trust, puzzle {
          &__#{$logo}-logo {
            width: 40%;
            height: 70%;
          }
        }
      }
      .blog-skill-item:last-child {
        margin: 0;
      }
    }
    .blog-skill-blocks-mobile {
      display: none;
    }
  }
}
