.main-container {
  background: url(#{$path-to-images}/backgrounds/background-main.svg);
  background-size: cover;
  background-position: center;
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    .center-wrapper {
      position: relative;
      top: -$f55;
      text-align: center;
      .header-stars {
        opacity: 0.31;
        color: #ffffff;
        font-size: $f13;
        font-weight: 300;
        position: absolute;
        left: 0;
        right: 0;
        text-transform: uppercase;
        letter-spacing: 0.52px;
      }
      .scale {
        opacity: 0.4;
        transform: scale(1);
        width: 100%;
        height: $f288;
        position: relative;
        left: -$f55;
        top: -$f34;
      }
      .main-logo {
        width: $f400 + $f110;
        background-size: $f400 + $f110 $f110;
        margin-bottom: $f89;
      }
      .support-container {
        display: none;
      }
      .bottom-quastion {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) and (max-width: 1024px) and (max-height: 768px) {
    .support.resident-support {
      padding-right: 4.528vw !important;
    }
    .nav_toggle {
      width: 6.27vw;
    }
    .support {
      width: 28.496vw !important;
      height: 12.135vw !important;
      font-size: 3.801vw !important;
      line-height: 4.635vw !important;
      bottom: 15px !important;
      padding-right: 18px !important;
    }
    .bottom-quastion {
      font-size: 2vw !important;
      line-height: 18px !important;
      margin-bottom: 40px !important;
    }
    .main-logo {
      width: 45.245vw !important;
      margin-bottom: 3.528vw !important;
    }
    .header-stars {
      font-size: 2vw !important;
      line-height: 3.528vw !important;
      width: 57.245vw !important;
    }
    .meteor-container {
      display: none;
    }
    .meteor-container-2 {
      display: none;
    }
  }
