.main-container {
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    .center-wrapper {
      .header-stars {
        top: $f68;
        opacity: 0.31;
        color: #ffffff;
        font-size: $f13;
        font-weight: 300;
        position: absolute;
        left: 0;
        right: 0;
        text-transform: uppercase;
        letter-spacing: 0.52px;
      }
      position: relative;
      top: -$f10;
      text-align: center;

      .scale {
        opacity: 0.4;
        transform: scale(0.7);
        width: 100%;
        height: $f288;
        position: relative;
        left: -$f55;
      }
      .main-logo {
        background-image: url(../images/icons/AtomSpace-logo-vertical.png);
        background-repeat: no-repeat;
        background-position: center;
        width: $f400 + $f110;
        height: 110px;
        background-size: $f400 + $f110 $f110;
        margin-bottom: $f89;
      }
    }
  }
}
