.store-container {
  .store-wrapper {
    font-family: $OpenSans-Light;

    .store-main-text-mobile {
      display: none;
    }

    .store-additional-text-mobile {
      display: none;
    }

    .store-main-text {
      font-size: $f42;
      line-height: $f55;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: $f55;
      margin: 0 auto;
      width: 50%;
    }

    .store-additional-text {
      font-size: $f34;
      line-height: $f42;
      text-align: center;
      margin-bottom: $f110;
    }

    .carousel-container {
      display: flex;
      justify-content: center;
      height: 40vh;

      .slick-slider {
        width: $f610 + $f89;
        height: 100%;

        .slick-list {
          display: flex;
          align-items: center;
          height: 100% !important;

          .slick-slide {
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            opacity: 0.2;
          }

          .slick-active {
            opacity: 0.4;
          }

          .slick-center {
            -webkit-transform: scale(1.8);
            transform: scale(1.8);
            opacity: 1;
          }

          .slick-track {
            display: flex;
            align-items: center;

            .carousel-block {
              outline: none;

              .carousel-info {
                &__merch {
                  margin: 0 $f21;

                  .wrapper {
                    position: relative;
                    $width: $f233 + $f13;
                    $height: $f233 - $f13;

                    .ellipse {
                      background-image: url(#{$path-to-images}/icons/ellipse.svg);
                      position: absolute;
                      background-repeat: no-repeat;
                      background-size: contain;
                      width: 100%;
                      height: 100%;
                      background-position: center;
                      z-index: -1;
                    }

                    .merch-logo {
                      width: 100%;
                      margin: 0 auto;
                      transition: all 1s ease;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.size-container {
  font-weight: bold;

  .size-block {
    display: flex;
  }

  .size-list {
    .size-item {
      cursor: pointer;
      width: $f18;
      height: $f18;
      margin: 0 $f5;
      line-height: $f16;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $f8;

      &:hover {
        border: 1px solid $black-color;
        border-radius: 50%;
        opacity: 0.7;
      }

      &.selected {
        border: 1px solid $black-color;
        border-radius: 50%;
      }
    }

    .size-item + .size-item {
      margin-left: 0;
    }
  }
}

.list {
  .size-container {
    font-family: $OpenSans-Bold;
    color: $black-color !important;

    &:hover {
      color: $black-color !important;
    }
  }

  .buy-container {
    .buy-block {
      .merch-buy-link {
        font-size: $link-font-size;
        font-family: $OpenSans-Bold;
        cursor: pointer;
        &:hover {
          color: $white-color !important;
        }
      }
    }
  }
}

.store-buttons-mobile {
  display: none;
}

.buy-form-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -5px;
  height: 102%;
  background: url(#{$path-to-images}/backgrounds/background-fixed.svg);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  > .main-header {
    position: absolute;
    top: 90px;

    p {
      font-style: normal;
      font-size: 42px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .nav_toggle {
    cursor: pointer;
    transform: rotate(180deg);
    transition: 1s all;
    width: 42px;
    left: 15%;
    top: 15%;
  }

  .order-block {
    background-image: url(#{$path-to-images}/icons/store/background-full-fixed.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    border: 0;
    width: 375px;
    border-radius: 40px;
    z-index: 1100;

    .order-items {
      color: $white-color;
      padding: 35px;
      height: 350px;

      &.confirm {
        display: flex;
        align-items: center;
        justify-content: center;
        .confirm-tick {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-content: center;
          > img {
            margin: 0 auto 25px auto;
            width: 50%;
          }
          > p {
            text-align: center;
            font-family: $OpenSans-Bold;
          }
        }
      }

      &__header {
        margin: 0 0 12px 0;
        font-family: $OpenSans-SemiBold;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
      }

      .additional-header {
        margin: 0 0 20px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
      }

      .order-form {
        > div {
          margin-bottom: 20px;
        }

        input {
          width: 100%;
          background: transparent;
          border: 0;
          font-family: $OpenSans-SemiBold;
          font-size: 15px;
          outline: none;
          border-bottom: 1px solid white;
          padding: 0 0 5px 0;
          color: white !important;
          opacity: 0.7;

          &.error {
            border-color: $red-color;
            border-width: 3px;
          }

          &::placeholder {
            color: $white-color;
            opacity: 0.5;
          }

          &:-ms-input-placeholder {
            color: $white-color;
          }

          &::-ms-input-placeholder {
            color: $white-color;
          }

          &#phone::-webkit-inner-spin-button,
          &#phone::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
          }
        }
      }

      .order-request {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pay-button {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          font-size: 14px;
          line-height: 16px;
          margin: 0;
          padding: 8px 24px;
        }

        .price-info {
          margin: 0;
          padding: 0 10px;
          font-family: $OpenSans-SemiBold;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }

  .show-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 85px;
    width: 40%;

    .text-info {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      margin-left: 50px;
      width: 50%;

      &__choice {
        font-family: $OpenSans-SemiBold;
        margin-bottom: 12px;
      }

      &__name {
        margin-bottom: 12px;
      }

      &__size {
        .bold {
          font-family: $OpenSans-SemiBold;
        }
      }
    }

    .merch-photo {
      width: 50%;

      .image {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
      }
    }
  }
}
