.store-container {
  .store-wrapper {
    font-family: OpenSans-Light;

    .store-main-text-mobile {
      display: none;
    }

    .store-additional-text-mobile {
      display: none;
    }

    .store-main-text {
      font-size: $f42;
      line-height: $f55;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: $f34;
    }

    .store-additional-text {
      font-size: $f34;
      line-height: $f42;
      text-align: center;
      margin-bottom: $f110;
      text-transform: capitalize;
    }

    .carousel-container {
      display: flex;
      justify-content: center;
      height: 500px;

      .slick-slider {
        width: $f610 + $f233;
        height: 100%;

        .slick-list {
          display: flex;
          align-items: center;
          height: 100% !important;

          .slick-slide {
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            opacity: 0.2;
          }

          .slick-active {
            opacity: 0.4;
          }

          .slick-center {
            -webkit-transform: scale(1.8);
            transform: scale(1.8);
            opacity: 1;
          }

          .slick-track {
            display: flex;
            align-items: center;

            .carousel-block {
              .carousel-info {
                &__merch {
                  margin: $f21;

                  .merch-logo {
                    width: $f233 + $f13;
                    height: $f288 - $f13;
                    margin: 0 auto;
                    transition: all 1s ease;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.size-container {
  font-weight: bold;

  .size-list {
    .main-header {}

    .size-item {
      cursor: pointer;
      padding: 1px;
      width: $f18;
      height: $f18;
      display: block;
      margin: 0 $f5;
      text-align: center;
      line-height: $f16;

      &:hover {
        border: 1px solid $black-color;
        border-radius: 50%;
        opacity: 0.7;
      }

      &.selected {
        border: 1px solid $black-color;
        border-radius: 50%;
      }
    }

    .size-item+.size-item {
      margin-left: 0;
    }
  }
}

.list {
  .size-container {
    font-family: OpenSans-Bold;
    color: $black-color !important;

    &:hover {
      color: $black-color !important;
    }
  }

  .merch-buy-link {
    font-family: OpenSans-Bold;
    color: $black-color !important;
    cursor: pointer;

    &:hover {
      color: $black-color !important;
    }
  }
}

.store-buttons-mobile {
  display: none;
}