.about-container {
  background-position: top;
  background-size: contain;

  .about-blocks {
    display: flex;
    flex-direction: column;

    .about-maintext-block {
      width: 78%;
      left: $f26;

      &__atomspace {
        width: 235px;
        height: 26.97px;
        position: relative;
        left: 0;
        top: -$f55;
      }

      &__text {
        display: none;

      }

      &__text:nth-child(2) {
        display: block;
        font-size: $f89;
        line-height: $f110 + $f55;
      }

      &__text--second {
        display: none;
      }
    }

    .bubble {
      display: none;
    }

    .bubble.interactive {
      display: block;
      $size: $f610 + $f610;
      width: $size;
      height: $size;
      margin-top: $f26;

      .image-block {
        .arrow {
          display: block;
        }

        .bubble-image {
          width: $size;
          height: $size;
        }
      }
    }
  }
}