{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/news.css' %}" type="text/css">

<div style="display:flex;height:91vh;">
    <div class="content">
        {% if news %}
            <ul class="list-group">
                <li class="add-item" id="dialog"> <img style="width: 35px;margin:auto;padding:5px;" src="{% static 'img/plus.svg' %}" /></li>
                <div style="display: none;" class="add-news-block popup-form">
                    <form enctype="multipart/form-data" action="" method="post">
                        {{ form }}
                        <input style="width: 29%;margin-top: 1em;" type="submit" value="Add" class="btn btn-primary">
                    </form>
                </div>
                <div class="news-card">
                {% for item in news %}
                    <li>
                        <div class="content-news">
                            <div class="card">
                                <div style="display:flex;">
                                    <div class="img-square-wrapper">
                                        <img style="margin:15px;" src="http://{{ request.get_host }}/media/{{ item.news_picture_url }}" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h3 class="card-title">{{ item.header }}</h3>
                                        <p class="card-text">{{ item.content }}</p>
                                        <div class="news-item-btns">
                                            <a href='/news/{{ item.id }}/edit'><img src="{% static 'img/edit.svg' %}"/></a>
                                            <a href="/news/{{ item.id }}/delete"><img src="{% static 'img/remove.svg' %}"/></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </div>
            </ul>
        {% else %}
            <div class="col-sm"></div>
            <div class="col-sm form">
                <h3 class="header-article">Create new article</h3>
                <form class="news-form" enctype="multipart/form-data" action="" method="post">
                    {{ form }}
                    <input style="width: 29%;margin-top: 1em;" type="submit" value="Add" class="btn btn-primary">
                </form>
            </div>
            <div class="col-sm"></div>
        {% endif %}
    </div>
  </div>
</div>
<script>
    var doc = ''    
    $('#dialog').click(() => {
        if(new RegExp('cancel').test(document.getElementById('dialog').innerHTML)){
            $('.popup-form').css('display', 'none');
            document.getElementById('dialog').innerHTML = "<img style='width: 35px;margin:auto;padding:5px;' src={% static 'img/plus.svg' %} />"
        } else{
            $('.popup-form').css('display', 'block');
            document.getElementById('dialog').innerHTML = "<img style='width: 35px;margin:auto;padding:5px;' src={% static 'img/cancel.svg' %} />"
        }
    });
    $('.form-on').click(() => {
        $('.popup-form').css('display', 'none');
        $('#dialog').removeClass('form-on');
    });
</script>

{% endblock %}
