@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
    background-color: #2b2c30;
    background-repeat: no-repeat;
    background-size: 2200px;
    position: relative;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 3em;
    color: white;
}

form {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 80%;
}

input, .inputs {
    outline: 0;
}

.form-auth > input {
    margin: 3%;
    width: 100%;
    color: white;
    height: 48px;
    border-radius: 48px;
    padding-left: 20px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 18px;
    text-decoration: none;
}

input:focus  .form-auth {
    margin: 3%;
    width: 100%;
    color: white;
    height: 48px;
    border-radius: 48px;
    padding-left: 20px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 18px;
    text-decoration: none;
}

input.login-input {
    margin: 3%;
    width: 100%;
    color: white;
    height: 48px;
    border-radius: 48px;
    padding-left: 20px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 18px;
    text-decoration: none;
}

input.login-input::placeholder {
    color: white;
}

input.password-input::placeholder {
    color: white;
}

input.password-input {
    margin: 3%;
    width: 100%;
    color: white;
    height: 48px;
    border-radius: 48px;
    padding-left: 20px;
    background-color: rgba(230, 230, 230, 0.5);
    border: 1px solid transparent;
    line-height: 32px;
    font-size: 18px;
    text-decoration: none;
}

input.submit-input {
    margin: 3%;
    width: 100%;
    background-color: rgba(61, 136, 233, 0.8);
    color: white;
    width: 100%;
    line-height: 45px;
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
}

input.submit-input:hover {
    transition: all .5s ease;
    background-color: rgba(61, 136, 233);
}

.request-text {
    font-size: 1em;
    padding-left: 20px;
    text-decoration: none;
    color: gray;
}

.request-href {
    color: #bebebe;
}

.container {
    display: flex;
    justify-content: center;
}

