{% extends 'base.html' %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/news.css' %}" type="text/css" />
<link rel="stylesheet" media="all" href="{% static 'css/orders.css' %}" type="text/css" />

<div style="display: flex; height: 91vh;">
  <div class="content">
    {% if orders %}
    <h2 class="orders-h2">Orders</h2>
    <table class="table" id="residents">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th>
          <th scope="col">Merch Name</th>
          <th scope="col">Merch Price</th>
          <th scope="col">Merch Size</th>
          <th scope="col">Post office (NP)</th>
          <th scope="col">Pickup</th>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in orders %}
        <tr>
          <td scope="col">{{ i.full_name }}</td>
          <td scope="col">{{ i.phone }}</td>
          <td scope="col">{{ i.city }}</td>
          <td scope="col">{{ i.merch.name }}</td>
          <td scope="col">{{ i.merch.cost }}</td>
          <td scope="col">{{ i.merch_size }}</td>
          <td scope="col">{{ i.npMail }}</td>
          <td scope="col">{{ i.is_get_from_atom }}</td>
          <td scope="col">{{ i.created_time }}</td>
          <td><a href="/order/{{ i.id }}/delete"><img src="{% static 'img/remove-b.svg' %}"/></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2 class="orders-h2">No objects found</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
