.bubble {
  background: linear-gradient(
    45deg,
    $left-gradient-color,
    $right-gradient-color
  );
  margin-left: $f55;
  border-radius: 50%;
  height: $f400 + $f178;
  &-image {
    content: " ";
    position: relative;
    height: $f400 + $f178;
  }
  &.animate {
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  &.small {
    width: $f55;
    height: $f55;
    opacity: random($limit: 5) / 10;
    &.animate {
      animation-name: bubble-small;
      animation-delay: random($limit: 5) + s;
    }
    @keyframes bubble-small {
      0% {
        right: $f110;
        bottom: $f68;
      }
      50% {
        right: $f110 + $f21;
        bottom: $f55;
      }
      100% {
        right: $f110;
        bottom: $f68;
      }
    }
  }
  &.middle {
    width: $f233;
    height: $f233;
    opacity: random($limit: 7) / 10;
    &.animate {
      animation-name: bubble-middle;
      animation-delay: random($limit: 5) + s;
    }
    @keyframes bubble-middle {
      0% {
        right: $f233;
        bottom: $f144;
      }
      50% {
        right: $f233 + $f34;
        bottom: $f110 + $f21;
      }
      100% {
        right: $f233;
        bottom: $f144;
      }
    }
  }
}
