.flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-acen {
    align-content: center;
  }
  .flex-jcen {
    justify-content: center;
  }
  .flex-cen {
    align-items: center;
    justify-content: center;
  }
  