@font-face{
    font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
}
@font-face{
    font-family: Lato-BlackItalic;
    src: url(../fonts/Lato-BlackItalic.ttf);
}
@font-face{
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: Lato-BoldItalic;
    src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face{
    font-family: Lato-Hairline;
    src: url(../fonts/Lato-Hairline.ttf);
}
@font-face{
    font-family: Lato-HairlineItalic;
    src: url(../fonts/Lato-HairlineItalic.ttf);
}
@font-face{
    font-family: Lato-Italic;
    src: url(../fonts/Lato-Italic.ttf);
}
@font-face{
    font-family: Lato-Light;
    src: url(../fonts/Lato-Light.ttf);
}
@font-face{
    font-family: Lato-LightItalic;
    src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face{
    font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}