html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover {
    color: initial;
  }
}
.container {
  // background: url("../images/backgrounds/Template.png") no-repeat;
  // height: calc(100vh * 7);
  // background-size: 100vw calc(100vh * 7);
  // .components {
    // // > div {
    //   height: 100vh;
    // }
    .main-container {
      // height: 100vh;
      // background: url("../images/backgrounds/1.png") no-repeat;
    }
  // }
}
