.navigation {
  position: absolute;
  z-index: 1000;
}

.atom-logo {
  position: relative;
  background-image: url(../images/icons/AtomSpace-logo.png);
  left: -$f5;
  display: block;
  height: 110px;
  background-size: $f233;
  background-position: center center;
  background-repeat: no-repeat;
}

.soc-icons {
  height: $f26;
  width: $f110;
  > a:not(:last-child) {
    margin-right: $f16;
  }

  .icon {
    position: relative;
    height: $f26;
    width: $f26;
  }

  .facebook {
    background: url(../images/icons/facebook-light.svg) no-repeat center/contain;
    opacity: 0.8;
    display: block;
    &:hover {
      opacity: 1;
    }
  }
  .instagram {
    background: url(../images/icons/instagram-light.svg) no-repeat
      center/contain;
    display: block;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .linkedin {
    background: url(../images/icons/linkedin-light.svg) no-repeat center/contain;
    display: block;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

li {
  display: inline-block;
  list-style: none;
  border: 1px solid $black-color;
  padding: $f13;
  border-radius: $f55;
}

.list-item {
  padding: $f16;
  position: relative;
  border: transparent;
  background: transparent;
  border-radius: 3em;
  text-align: center;
  line-height: $f16;
  padding: $f3 $f42;
  width: $f178 + $f21;
  margin: $f8 0;
  color: $white-color;
  font-family: Lato-Regular, sans-serif;
  font-size: $f13;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    color: $white-color-opacity;
  }
  &:target {
    color: green;
  }
}
:target {
  animation: highlight 1s ease;
  transform: translateX($f21);
}
@keyframes highlight {
  0% {
    border-left-color: red;
  }
  100% {
    border-left-color: white;
  }
}
// .list-item {
//   padding: 15px;
//   border: transparent;
//   background: green;
//   border-radius: 3em;
//   text-align: center;
//   margin: 15px 0;
//   color: white !important;
//   background: linear-gradient(
//     0.4turn,
//     $list-item-atom-space-color-left-o,
//     $list-item-atom-space-color-right-o
//   );
//   a {
//     font-family: Lato-HairlineItalic, sans-serif;
//     font-size: 12pt;
//     color: $white-color;
//   }
// }
.vertical-line {
  position: fixed;
  height: 640px;
  display: flex;
  align-items: center;
  border: 0;
  &.left {
    left: $f110 + $f21;
    border-left: 1px solid $vertical-line-color;
    bottom: 0;
    text-align: left;
  }
  &.right {
    right: $f110 + $f21;
    border-right: 1px solid $vertical-line-color;
  }
  &.border-none {
    border: 0;
  }
  .light_theme {
    .list-item {
      color: $black-color;
      &:hover {
        color: $black-color-opacity;
      }
    }
  }
  .sidebar {
    &__left {
      .soc-icons {
        position: absolute;
        left: $f34;
        bottom: $f55;
      }
      .list-item {
        left: -$f16;
        opacity: $text-opacity;
        text-align: left;
        transform: all 1s;
        &:before {
          content: " ";
          $size: $f13;
          width: $size;
          height: $size;
          position: absolute;
          top: calc(50% - #{$size} / 2);
          left: $f8;
          background: url(../images/icons/circle.svg) no-repeat center/contain;
        }
      }
      &.light_theme {
        .instagram {
          background: url(../images/icons/instagram-dark.svg) no-repeat;
        }
        .facebook {
          background: url(../images/icons/facebook-dark.svg) no-repeat;
        }
        .list-item {
          &:hover {
            color: $black-color;
          }
          &:before {
            background-image: url(../images/icons/circle-dark.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color: $black-color;
          }
        }
      }
    }
    &__right {
      .list-item {
        right: -$f16;
        opacity: $text-opacity;
        text-align: right;
        transform: all 1s;
        &:before {
          content: " ";
          $size: $f13;
          width: $size;
          height: $size;
          position: absolute;
          top: calc(50% - #{$size} / 2);
          right: $f8;
          background: url(../images/icons/circle.svg) no-repeat center/contain;
        }
      }
      &.light_theme {
        .atom-logo {
          background-image: url(../images/icons/AtomSpace-logo-dark.png);
        }
        .list-item {
          &:hover {
            color: $black-color;
          }
          &:before {
            background-image: url(../images/icons/circle-dark.svg) ;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color: $black-color;
          }
        }
      }
    }
  }
}
