@mixin darkStyle {
}

@mixin lightStyle {
}

.navigation {
  position: absolute;
  z-index: 1000;
}

.atom-logo {
  position: relative;
  background-image: url(../images/icons/AtomSpace-logo.png);
  left: -$f5;
  display: block;
  height: 110px;
  background-size: $f233;
  background-position: center center;
  background-repeat: no-repeat;
}

.soc-icons {
  height: 26px;
  width: $f110;
  > a:not(:last-child) {
    margin-right: $f16;
  }

  .icon {
    position: relative;
    height: 26px;
    width: 26px;
  }

  .facebook {
    background: url(../images/icons/facebook-light.svg) no-repeat center/contain;
    opacity: 0.8;
    display: block;
    &:hover {
      opacity: 1;
    }

    // position: relative;
    // height: 26px;
    // background-position: center center;
    // background-repeat: no-repeat;
    // width: $f34;
  }
  .instagram {
    background: url(../images/icons/instagram-light.svg) no-repeat
      center/contain;
    display: block;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  .linkedin {
    background: url(../images/icons/linkedin-light.svg) no-repeat center/contain;
    display: block;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

li {
  display: inline-block;
  list-style: none;
  border: 1px solid $black-color;
  padding: $f13;
  border-radius: $f55;
}

.list-item {
  padding: $f16;
  position: relative;
  border: transparent;
  background: transparent;
  border-radius: 3em;
  text-align: center;
  line-height: $f16;
  padding: $f3 $f42;
  width: $f178 + $f21;
  margin: $f8 0;
  color: $white-color;
  font-family: Lato-Regular, sans-serif;
  font-size: $f13;
  transition: all 1s;
  &:hover {
    opacity: 1;
    color: $white-color-opacity;
  }
}

// .list-item {
//   padding: 15px;
//   border: transparent;
//   background: green;
//   border-radius: 3em;
//   text-align: center;
//   margin: 15px 0;
//   color: white !important;
//   background: linear-gradient(
//     0.4turn,
//     $list-item-atom-space-color-left-o,
//     $list-item-atom-space-color-right-o
//   );
//   a {
//     font-family: Lato-HairlineItalic, sans-serif;
//     font-size: 12pt;
//     color: $white-color;
//   }
// }
.vertical-line {
  position: fixed;
  height: 640px;
  display: flex;
  align-items: center;
  border: 0;
  &.left {
    left: $f110 + $f21;
    border-left: 1px solid $vertical-line-color;
    bottom: 0;
    text-align: left;
  }
  &.right {
    right: $f110 + $f21;
    border-right: 1px solid $vertical-line-color;
  }
  &.border-none {
    border: 0;
  }

  .sidebar {
    &__left {
      .soc-icons {
        position: absolute;
        left: $f34;
        bottom: $f55;
      }
      .list-item {
        left: -$f16;
        opacity: $text-opacity;
        text-align: left;
      }
      &.light_theme {
        .instagram {
          background: url(../images/icons/instagram-dark.svg) no-repeat;
        }
        .facebook {
          background: url(../images/icons/facebook-dark.svg) no-repeat;
        }
      }
    }
    &__right {
      .list-item {
        right: -$f16;
        opacity: $text-opacity;
        text-align: right;
      }
      &.light_theme {
        .atom-logo {
          background-image: url(../images/icons/AtomSpace-logo-dark.png);
        }
      }
    }
  }
  .light_theme {
    .list-item {
      color: $black-color;
      &:hover {
        color: $black-color-opacity;
      }
    }
  }
}
