@media only screen and (max-width: 1023px) {
  * {
    box-sizing: border-box;
  }

  .vertical-line {
    display: none;
  }

  .small-nav {
    display: block;
  }

  a {
    font-size: $link-font-size-adaptive;
  }

  @import 'main.scss';
  @import 'about.scss';
  @import 'blog.scss';
  @import 'edu.scss';
  @import 'family.scss';
  @import 'store.scss';
  @import 'contacts.scss';
  @import 'forms.scss';
  @import 'input.scss';
}
