@media only screen and (max-width: 1023px) {
  * {
    box-sizing: border-box;
  }

  .vertical-line {
    display: none;
  }

  .small-nav {
    display: block;
  }

  @import 'main.scss';
  @import 'about.scss';
  @import 'blog.scss';
  @import 'edu.scss';
  @import 'family.scss';
  @import 'store.scss';
  @import 'contacts.scss';
  @import 'forms.scss';
}

@media only screen and (height: 1024px) and (width: 768px) {
  // .about-container {
  //   .about-blocks {
  //     .about-main-block {
  //       &__text-2 {
  //         display: block;
  //         font-size: 1.3rem;
  //         line-height: 35px;
  //       }
  //     }
  //   }
  // }
  // .blog-container {
  //   .blog-wrapper {
  //     .blog-skill-blocks-mobile {
  //       .slick-slider {
  //         .blog-skill-item {
  //           &-information {
  //             &__header {
  //               font-family: OpenSans-SemiBold, sans-serif;
  //               margin-bottom: 10px !important;
  //               font-size: 1.5em;
  //               line-height: inherit;
  //             }

  //             &__description {
  //               font-family: OpenSans-Regular, sans-serif;
  //               font-size: 1.5em;
  //               line-height: inherit;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  // .contacts-container {
  //   .contacts-wrapper {
  //     .center-container {
  //       .main-block {
  //         &__requests {
  //           .header-answer {
  //             font-size: 1.5rem;
  //             line-height: 30px;
  //             width: 235px;
  //           }
  //         }
  //         &__information {
  //           .header-ask {
  //             font-size: 1.5rem;
  //             margin-right: 17px;
  //           }
  //           .logo-wrapper {
  //             .rocket-image {
  //               width: 100px;
  //               height: 100px;
  //             }
  //           }
  //         }
  //       }
  //       .donate-block {
  //         .btn-donate {
  //           padding: 10px 50px;
  //           font-size: 1.2rem;
  //         }
  //       }
  //     }
  //   }
  // }
  // .edu-container {
  //   .edu-wrapper {
  //     .edu-items-mobile {
  //       .edu-items-list {
  //         .edu-item {
  //           &__text {
  //             font-size: 2rem;
  //             line-height: 42px;
  //             margin-bottom: 20px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  // .store-buttons-mobile {
  //   .size-container {
  //     .size-list {
  //       .size-item {
  //         margin: 0 2px;
  //       }
  //     }
  //   }
  // }
  // .about-container {
  //   .about-blocks {
  //     .about-main-block {
  //       &-text {
  //         .about-text-1,
  //         .about-text-2,
  //         .about-text-3 {
  //           font-size: $f16;
  //         }
  //       }
  //     }
  //   }
  // }
}
