.about-container {
  background-position: top;
  background-size: contain;

  .about-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .about-main-block {
      width: 78%;
      height: initial;
      left: $f26;

      &-image {
        margin-bottom: $h10;
        margin-top: $h68;

        &__atomspace {
          width: 235px;
          height: 30px;
          position: relative;

          @media only screen and (max-height: 1367px) and (min-height: 851px) {
            width: 410px;
            height: 85px;
          }
        }
      }

      &-text {
        .about-text-1 {
          display: block;
          width: 250%;
          font-size: $f68;
          line-height: $h55;
          &--second {
            display: none;
          }
        }
      }
    }

    .bubble {
      display: none;
      margin: 0;

      &.interactive {
        display: block;
        width: calc((50% + 50vh) / 2);
        height: initial;

        .image-block {
          height: 100%;

          .arrow {
            display: block;
          }

          .bubble-image {
            width: 100%;
            height: inherit;
          }
        }
      }
    }
  }
}
