.contacts-container {
  background-size: cover;

  .contacts-wrapper {
    .center-container {
      width: 100%;

      .main-block {
        &__requests {
          flex-direction: row;
          margin-top: 40px;
          justify-content: center;

          .header-answer {
            height: initial;
            font-size: $header-adapt-text-font-size;
            font-family: OpenSans-Regular, sans-serif;
            font-weight: 100;
            width: 235px;
            text-align: center;
          }
        }

        .request-button-container {
          display: none;
        }

        &__information {
          width: 80%;
          margin: 0 auto;
          align-items: center;

          .header-ask {
            font-size: $adapt-text-font-size;
            margin-right: 17px;
          }

          .logo-wrapper {
            .rocket-image {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .donate-block {
        .btn-support {
          font-size: $adapt-text-font-size;
          padding: 10px 20px;
        }
      }
    }

    .contact-info-mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: $h288;
      margin-left: 57px;
      position: relative;

      .list-item {
        &::before {
          content: ' ';
          background: url(#{$path-to-images}/icons/circle.svg) no-repeat center/contain;
          position: absolute;
          width: 15px;
          height: 15px;
          left: -32px;
        }

        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.05em;
        margin-bottom: 15px;
      }
    }
  }
}
