.edu-container {
  .edu-wrapper {
    .main-text {
      display: none;
    }
    .edu-items {
      display: none;
    }
    .main-text-mobile {
      display: block;
    }
    .edu-items-mobile {
      display: block;
      .edu-items-list {
        .edu-item {
          &__text {
            font-style: normal;
            font-weight: normal;
            font-size: $f89 + $f8;
            line-height: $h68;
            text-transform: uppercase;
            margin-bottom: 20px;
          }
          &.selected {
            .edu-item__text {
              color: $selected-edu-item;
            }
            @each $logo in wordpress, book, checklist, computer-rocket, layout, python, rocket, scripts {
              .edu-item__#{$logo}-logo {
                background: url(#{$path-to-images}/icons/edu/#{$logo}-logo.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: $f377;
                width: $f377;
                margin-bottom: $f8;
                position: absolute;
                bottom: 40px;
                right: 40px;
              }
            }
          }
        }
      }
    }
  }
}
