.family-container {
  background-size: cover;
  .family-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-text-mobile {
      color: white;
      font-size: 50px;
      opacity: 0.1;
    }
    .carousel-container {
      position: relative;
      margin-right: 28px;
      $photo-size: $f400 + $f400 + $f400 + $f400;
      .slick-slider {
        margin: 0;
        width: initial;
        top: 80px;
        left: -50px;
        @include noArrows;
        .slick-list {
          border: 1px solid transparent;
          padding: 0;
          border-radius: 50%;
          height: $photo-size;
          width: $photo-size;
        }
      }
      .carousel-info {
        left: auto;
        right: 0;

        &__header {
          display: none;
        }
        &__photo {
          .photo-logo {
            width: 100%;
            height: -webkit-fill-available;
            object-fit: cover;
          }
        }
        &__desc {
          font-size: $f89 + $f5;

          .info-name {
            text-align: right;
            margin-bottom: 0;
          }

          .info-position {
            text-align: right;
          }
        }
        &__soc {
          .soc-icons {
            height: initial;
            width: initial;
            margin-top: 20px;

            .icon {
              margin: 0 0 0 auto;
              $size: $f178;
              width: $size;
              height: $size;
            }
          }
        }
        &__quote-block {
          display: none;
        }
      }
    }
  }
  .tap-swipe-logo {
    display: block;
    width: 10%;
    position: absolute;
    bottom: 30%;
    right: 5%;
    height: 6%;
  }
}
