.main-container .logo-container .center-wrapper {
  position: inherit;

  .header-stars {
    font-weight: 300;
    font-size: $f68;
    line-height: $h89;
    text-transform: uppercase;
    width: $f610 + $f400 + $f89;
    text-align: center;
    position: inherit;
    margin: 0 auto;
    height: 8vh;
    display: flex;
    align-items: flex-end;
  }

  .scale {
    opacity: 0.4;
    transform: scale(2.5);
    width: 100%;
    position: inherit;
    top: 10px;
    margin: 10vh 0;
    margin-top: 51px;
  }

  .main-logo {
    width: $f610 + $f400 + $f89;
    background-size: $f400 + $f610 $f233;
    margin: 0 auto;
    margin-bottom: $f110;
  }

  .donate-block {
    display: none;
  }

  .support-container {
    display: block;

    .support {
      border: 0;
      padding: 0;
      width: $f400 + $f233 + $f110;
      height: $f233;
      font-size: $f68 + $f5;
      line-height: $f89;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: white;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &.resident-support {
        background: url(#{$path-to-images}/icons/adaptive/be-resident-block.svg)
          center/contain no-repeat;
        position: absolute;
        left: 0;
        padding-right: $f110;
        color: white;
      }

      &.mentor-support {
        background: url(#{$path-to-images}/icons/adaptive/be-mentor-block.svg)
          center/contain no-repeat;
        position: absolute;
        right: 0;
        padding-left: $f110;
      }
    }
  }

  .bottom-quastion {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: $f68;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.31;
    color: $white-color;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
