.store-container {
  .store-wrapper {
    font-size: 19px;
    line-height: 30px;
    text-align: center;

    @media only screen and (max-width: 380px) {
      .store-main-text-mobile,
      .store-additional-text-mobile {
        font-size: medium;
      }
    }

    .store-main-text-mobile {
      display: block;
      font-family: $OpenSans-SemiBold;
    }

    .store-additional-text-mobile {
      display: block;
      font-family: $OpenSans-Light;
      margin-bottom: 10%;
    }

    .store-main-text {
      display: none;
    }

    .store-additional-text {
      display: none;
    }

    .carousel-container {
      .slick-slider {
        width: 70%;

        .slick-list .slick-track .carousel-block .carousel-info {
          &__merch {
            .ellipse {
              width: 139px;
              height: 156px;
            }

            .merch-logo {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .slick {
    width: 37px;
    height: 17px;
    display: block;
    bottom: 40px;

    &.slick-prev {
      background-image: url(#{$path-to-images}/icons/store/arrow-left-store-mobile.svg) !important;
    }

    &.slick-next {
      background-image: url(#{$path-to-images}/icons/store/arrow-right-store-mobile.svg) !important;
      left: auto;
    }
  }
}

.buy-form-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -5px;
  height: 102%;
  background-image: url(#{$path-to-images}/backgrounds/background-fixed.svg);
  background-color: $white-color;

  .main-header {
    display: none;
  }

  .nav_toggle {
    transform: rotate(180deg);
    top: 5%;
    left: 8%;
    right: 0;
  }

  .order-block {
    display: flex;
    position: fixed;
    width: 100%;
    height: 53%;
    border: 1px solid transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .order-items {
      color: $white-color;
      padding: 0;
      padding: $f68 $f178;
      display: flex;
      height: initial;
      flex-direction: column;
      justify-content: space-evenly;

      &__header {
        margin-bottom: $h34;
        font-family: $OpenSans-SemiBold;
        font-size: $f89;
        text-transform: capitalize;
        line-height: initial;
      }

      .additional-header {
        margin-bottom: $h16;
        font-style: normal;
        font-weight: normal;
        font-size: $f68;
        line-height: initial;
      }

      .order-form {
        > div {
          margin-bottom: $h16;
        }

        input {
          width: 100%;
          background: transparent;
          border: 0;
          font-family: $OpenSans-SemiBold;
          font-size: $f55;
          outline: none;
          border-bottom: 1px solid white;
          padding-bottom: $h21;
          color: white !important;

          &::placeholder {
            color: $white-color;
            opacity: 1;
          }
        }
      }

      .order-request {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $f68;

        .price-info {
          margin: 0;
          padding: 0 10px;
          font-size: $f110;
          font-family: $OpenSans-SemiBold;
          line-height: initial;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }

  .show-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    top: 0;
    position: absolute;
    width: 80%;

    .text-info {
      font-size: $f68;
      line-height: $f110;
      text-align: right;
      margin-right: 13px;
      margin-left: 0;

      &__choice {
        font-family: $OpenSans-SemiBold;
        margin-bottom: 12px;
      }

      &__size {
        .bold {
          font-family: $OpenSans-SemiBold;
        }
      }
    }

    .merch-photo {
      .image {
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
      }
    }
  }
}

.store-buttons-mobile {
  display: block;
  margin-top: 10%;
  font-family: $OpenSans-SemiBold;
  line-height: 14px;

  .list-item {
    margin: 0;
    padding: 0;
  }

  .size-container {
    margin-bottom: 24px;

    .size-block {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      background-image: url(#{$path-to-images}/icons/store/size-button-background.svg) !important;
      background-repeat: no-repeat;
      height: 40px;
      width: 250px;
      color: $black-color;
      position: relative;
      left: -40px;
      padding-left: 55px;

      .size-list {
        .size-item {
          width: 25px;
          height: 25px;
          margin: 0 0.26vw;
          line-height: 15px;
        }
      }
    }
  }

  .buy-container {
    .buy-block {
      .merch-buy-link {
        font-size: 14px;
        padding-left: 55px;
        background-image: url(#{$path-to-images}/icons/store/buy-button-background.svg) !important;
        background-repeat: no-repeat;
        height: 40px;
        color: $black-color;
        align-items: center;
        display: flex;
        width: 250px;
        position: relative;
        left: -40px;

        .main-header {
          position: relative;
          left: 72px;
          font-size: 14px;
        }
      }
    }
  }
}
