.slick {
  width: 37px;
  height: 17px;
  display: block;
  bottom: 40px;

  &.slick-prev {
    background-image: url(#{$path-to-images}/icons/store/arrow-left-store-mobile.svg) !important;
    left: 30px;
  }

  &.slick-next {
    background-image: url(#{$path-to-images}/icons/store/arrow-right-store-mobile.svg) !important;
    right: 30px;
    left: auto;
  }
}

.store-container {
  .store-wrapper {
    font-size: 19px;
    line-height: 30px;
    text-align: center;

    @media only screen and (max-width: 380px) {
      .store-main-text-mobile,
      .store-additional-text-mobile {
        font-size: medium;
      }
    }

    .store-main-text-mobile {
      display: block;
      font-family: OpenSans-SemiBold, sans-serif;
    }

    .store-additional-text-mobile {
      display: block;
      font-family: OpenSans-Light, sans-serif;
      margin-bottom: 10%;
    }

    .store-main-text {
      display: none;
    }

    .store-additional-text {
      display: none;
    }

    .carousel-container {
      .slick-slider {
        width: 70%;

        .slick-list .slick-track .carousel-block .carousel-info {
          &__merch {
            .ellipse {
              width: 139px;
              height: 156px;
            }

            .merch-logo {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.buy-form-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: -5px;
  height: 102%;
  background-image: url(#{$path-to-images}/backgrounds/background-fixed.svg);
  background-color: white;

  .main-header {
    display: none;
  }

  .nav_toggle {
    left: 20px;
    top: 20px;
    transform: rotate(180deg);
  }

  .order-block {
    display: flex;
    background-image: url(#{$path-to-images}/icons/store/background-full-fixed.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    border-radius: 0;
    height: $h610 + $h288;

    .order-items {
      color: $white-color;
      padding: 0;
      padding: $f110 $f178 $f110 $f178;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__header {
        margin-bottom: $h16;
        font-family: OpenSans-SemiBold, sans-serif;
        font-size: $f89;
        text-transform: capitalize;
        line-height: initial;
      }

      .additional-header {
        margin-bottom: $h16;
        font-style: normal;
        font-weight: normal;
        font-size: $f68;
        line-height: initial;
      }

      .order-form {
        > div {
          margin-bottom: $h16;
        }

        input {
          width: 100%;
          background: transparent;
          border: 0;
          font-family: OpenSans-SemiBold, sans-serif;
          font-size: $f55;
          outline: none;
          border-bottom: 1px solid white;
          padding-bottom: $h21;
          color: white !important;

          &::placeholder {
            color: $white-color;
            opacity: 1;
          }
        }
      }

      .order-request {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $f68;

        .price-info {
          margin: 0;
          padding: 0 10px;
          font-size: inherit;
          font-family: OpenSans-SemiBold, sans-serif;
          line-height: initial;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }

  .show-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    top: 0;
    position: absolute;
    width: 80%;

    .text-info {
      font-size: $f68;
      line-height: $f110;
      text-align: right;
      margin-right: 13px;
      margin-left: 0;
      &__choice {
        font-family: OpenSans-SemiBold, sans-serif;
        margin-bottom: 12px;
      }

      &__size {
        .bold {
          font-family: OpenSans-SemiBold, sans-serif;
        }
      }
    }

    .merch-photo {
      .image {
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
      }
    }
  }
}

.store-buttons-mobile {
  display: block;
  margin-top: 10%;

  .size-container {
    font-size: 14px;
    line-height: 14px;
    font-family: OpenSans-SemiBold, sans-serif;
    background-image: url(#{$path-to-images}/icons/store/size-button-background.svg) !important;
    background-repeat: no-repeat;
    height: 40px;
    width: 250px;
    margin-bottom: 24px;
    color: $black-color;
    justify-content: space-around;
    left: -40px;
    position: relative;

    .main-header {
      position: relative;
      left: 40px;
    }

    .size-list {
      .size-item {
        width: 20px;
        height: 20px;
        margin: 0 0.26vw;
        line-height: 15px;
      }
    }
  }

  .merch-buy-link {
    font-size: 14px;
    line-height: 14px;
    font-family: OpenSans-SemiBold, sans-serif;
    background-image: url(#{$path-to-images}/icons/store/buy-button-background.svg) !important;
    background-repeat: no-repeat;
    height: 40px;
    color: $black-color;
    align-items: center;
    display: flex;
    width: 250px;
    position: relative;
    padding-left: 70px;
    left: -40px;

    .main-header {
      position: relative;
      left: 72px;
      font-size: 14px;
    }
  }
}
