{% extends "testform/base.html" %}

{% block content %}
    <div>
        
        <div class="list-mentors">
            <h3 class="list-text">Request on Mentors</h3>
            <div class="userlist-block">
                <ul class="list-group list-join">
                    {% for item in all_mentors %}
                        <li class="list-group-item">{{ item.name }}</li>
                        <li class="list-group-item">{{ item.number }}</li>
                        <li class="list-group-item">{{ item.email }}</li>
                        <li class="list-group-item">{{ item.information }}</li>
                        <hr>        
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="list-mentors">
            <h3 class="list-text">Request on Residents</h3>
            <div class="userlist-block">
                <ul class="list-group list-join">
                    {% for item in all_residents %}
                        <li class="list-group-item">{{ item.name }}</li>
                        <li class="list-group-item">{{ item.email }}</li>
                        <li class="list-group-item">{{ item.number }}</li>
                        <li class="list-group-item">{{ item.date }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}