.merch-item-btns{
    float: right;
}

.merch-item-btns img{
    width: 3vw;
}

.img-square-wrapper img {
    width: 16vw;
}

@media screen and (max-width: 1100px) {
    .side-bar h1 {
        font-size: 2em;
    }
}

/* ------------------------------------------------------------- */
