.merch-item-btns{
    float: right;
}

.navbar-brand {
    color: white !important;
}

.navbar {
    background-color: rgba(61, 62, 62, 0.8) !important;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
}

.sidebar-item-text{
    margin: auto;
    text-decoration: none !important;
    color: white;
    transition: 1s;
}

.sidebar-item-text:hover {
    color: rgb(214, 213, 213);
}

.card {
    height: 32vh;
}

.merch-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2vw;
}

.li-add {
    background-color: rgba(61, 62, 62, 0.8) !important;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 3vh;
}

.li-add h3 {
    margin: 0;
}

.li-add h3 {
    font-size: 1.5em;
}

.merch-item-btns img{
    width: 25px;
}

.img-square-wrapper img {
    width: 150px;
}

.add-merch-block {
    background-color: rgba(61, 62, 62, 0.8) !important;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.edit {
    color: white;
}

.cont {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .side-bar h1 {
        font-size: 2em;
    }
}

/* ------------------------------------------------------------- */
