.form{
    width: 50%;
    margin: auto;
    padding-top: 2vw;
}

.side-bar{
    position: fixed;
    border-right: 0.3rem solid gray;
    margin-top: 3%;
    z-index: 1;
    height: 100%;
    width: 20vw;
    background-color: white;
    text-align: center;
}
.side-bar h1{
    border-bottom: 0.2rem solid grey;
    padding: 1.3rem;
}

.sidebar-item{
    display: flex;
    height: 8%;
    border-bottom: 0.2rem solid grey;
    transition: all 0.5s;
    padding: 5px;
    width: 100%;
}

.sidebar-item:hover{
    background-color: gray;
    color: white;
}

.sidebar-item-text{
    margin: auto;
}

.content {
    background-color: white;
    margin-left: 20vw;
    width: 80vw;
    margin-top: 3%;
}

.form h3{
    text-align: center;
}
.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-item-btns img{
    width: 3vw;
}

.news-item-btns {
    float: right;
    margin: 1%;
}

img.add-button{
    width: 4vw;
}

.add-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    transition: all 0.5s;
}

.add-item:hover{
    background-color: gray;
    color: white;
}

.img-square-wrapper img {
    width: 16vw;
}