{% load staticfiles %}
<link rel="stylesheet" media="all" href="{% static 'css/login.css' %}" type="text/css">

<div class="container">
    <div class="col">
        <form action="" method="post">
            <h1 class="login-text">Atom Space Admin Panel</h1>
            <div class="form-auth">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit-input" type="submit" onclick="" value="Log in">
            </div>   
        </form>
    </div>
</div>  